*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
ul{
    display: flex;
    justify-content: flex-end;

}
li{
    list-style-type: none;
    padding: 10px;
}
.rounded{
    border-radius: 39px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 55px;
    padding: 30px;
    
}
#text-field{
    margin-left: 20px;
    align-items: center;
}
#google-search{
    width: 15px;
    position: absolute;
    left: 26rem;
}
 #google-mic{
    width: 13px;
    cursor: pointer;
    position: absolute;
    right: 27rem;
    padding-right: 3px;
    
}
      
#google-lens{
    width: 17px;
    cursor: pointer;
    position: absolute;
    right: 25rem;
    padding-right: 5px;
}
input{
    font-size: 18px;
    border-radius: 33px;
    width: 560px;
    padding: 10px;
    border-style: ridge; 
}

input:hover{
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15) ;
    transition:  0.8s;
                 
}
#button-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1{
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
    background-color: rgba(241, 241, 241, 0.836);

}
.button2{
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
    background-color: rgba(241, 241, 241, 0.836);
}
.button1:hover, .button2:hover{
    background-color: rgba(218, 215, 215, 0.925);
    transition: 1.0s;
}
p{
    font-size: 12px;
}
#lan-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.lan-section{
    display: flex;
    padding: 0;

}
li.lan-section{
    list-style-type: none;
    font-size: 12px;
    padding: 5px;
    
}
a{
    text-decoration: none;
}
footer{
    background-color: rgb(242,242,242);
    margin-top: 16.5rem;
    height: 45px;
    
    
}
footer p{
    color: rgb(160, 158, 158);
    font-size: 13px;
    padding: 15px 30px;
    
}
.footer-area{
    background-color: rgb(242,242,242);
    height: 65px;
    display: flex;
    justify-content: flex-start;
}
/* .footer-area ul{
    display: flex;
    justify-content: flex-start;
} */

.footer-area p{
    color: rgb(160, 158, 158);
    font-size: 13px;
    padding: 10px 10px;

}
.carbon-center {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 15rem;
}
.carbon-center img{
    width: 12px;
    height: 15px;
    margin-top: -40px;
}
.carbon-center p {
    color:rgb(160, 158, 158);
    padding-left: 5px;
    text-align: center;
    margin-top: -40px;
}
